.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(216, 202, 202);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar {
    flex: 1;
    height: 35px;  
    width: 0; 
    font-size: 16px;
    padding-left: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
    
}

.search-bar::placeholder {
    font-family: Roboto, Arial; 
}

.search-button {
    height: 38px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-left: -1px;
    margin-right: 10px;
    
}

.search-button, 
.voice-search-button, 
.upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.search-button .tool-tip, 
.voice-search-button .tool-tip,
.upload-icon-container .tool-tip {
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transform: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

}

.search-button:hover .tool-tip, 
.voice-search-button:hover .tool-tip,
.upload-icon-container:hover .tool-tip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
    
}
.voice-search-icon {
    height: 24px;
}

.right-section {    
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
   
}

.upload-icon {
    height: 24px;

}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon-container {
     position: relative;
}

.notifications-icon {
    height: 24px;
}

.notifications {
    position:absolute;
    background-color: red;
    color: white;
    border-style: solid;
    border-color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    border-radius: 200px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 1000px;
    
    top: -3px;
    right: -6px;
    z-index: 99;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
}
