p{
    font-family: Roboto; 
}


.video-title{
font-weight: bold;
font-size:18px;
width: 280px;
line-height: 24px;
margin-bottom: 5px;
}
.video-stats{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
    margin-bottom: 20px;
}
.video-author{
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20;
}
.video-description{
    font-size: 14px; 
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 100px;
}

.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.shop-now:hover {
    text-decoration: underline;
}

.shop-now{
    cursor: pointer;
}

.biggest-deals{ 
    font-weight: bold;
    margin-bottom: 0;
}

.sales-tuesday{ 
    color: red;
    margin-top: 0;
    font-style: italic;
    font-size: 10px;
}

.freecodecamp{
    font-weight: bold;
    margin-bottom: 10px;
}

.free-code-camp{
    font-weight: normal;
    color:gray;

}

.web-dev{
    margin-top: 0;
    width: 560px;
    margin-bottom: 25px;
}

.chip{
    color: lightblue
}